* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  height: 100vh;
  background: lightgray;
}

#container {
  height: 500px;
  width: 800px;
  margin: auto;
  display: flex;
}
.back_image, .next_image {
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: gray;
}
i {
  cursor: pointer;
}
.image_box {
  width: calc(100% - 140px);
  position: relative;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.circle {
  margin: auto;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  padding: 10px;
}
.circle > i {
  margin: 5px;
}
